@use '~@strategies/tokens/color';
@use '~@strategies/tokens/space';
@use '~@strategies/tokens/elevation';

@import '~@strategies/tokens/mixins';
&__Block {
    position: absolute !important;
    display: flex;
    overflow: hidden;
    cursor: grab;
    opacity: 1;
    pointer-events: all;
    transition: border-color .15s, opacity .15s;
    border-color: color.$border-bold;
    border-radius: space.$s100;
    border-width: 1px;
    border-style: solid;
    

    &:hover {
        opacity: 1;
        transition: border-color .15s, opacity .15s;
        box-shadow: elevation.$shadow;
        border-radius: space.$s100;
        border-color: color.$border-active;
    }

    &--selected {
        box-shadow: elevation.$shadow;
        transition: border-color .15s, opacity .15s;
        border-width: space.$s050;
        border-radius: space.$s100;
        border-color: color.$border-active;
    }

    &-content {
        flex: 1 1 auto;
        
        height: 100%;
    }

    &-overflow {
        overflow: hidden !important;
    }
    &-left-icon {
        flex: 0 0 15px;
        left: -4px;
        top: 3px;
        width: space.$s200;
        height: space.$s200;
        position: absolute !important;
        border-radius: 10px;
        border: elevation.$border-width-small solid color.$border-bold;
        background: color.$background-active-tertiary;
        z-index: 3;
    }
    &-right-icon {
        flex: 0 0 15px;
        right: -4px;
        top: 3px;
        width: space.$s200;
        height: space.$s200;
        position: absolute !important;
        border-radius: 10px;
        border: elevation.$border-width-small solid color.$border-bold;
        background: color.$background-active-tertiary;
        z-index: 3;
    }

    &-handleleft {
        z-index: 3;
        cursor: col-resize;
        left: -4px;
        top: 1.5px;
        width: space.$s200;
        height: space.$s200;
        border-radius: 10px;
        border: elevation.$border-width-small solid color.$border-active;
        background: color.$background-active;

        
    }
    &-handleright {
        z-index: 3;
        cursor: col-resize;
        right: -4px;
        top: 1.5px;
        width: space.$s200;
        height: space.$s200;
        border-radius: 10px;
        border: elevation.$border-width-small solid color.$border-active;
        background: color.$background-active;
    }

    &-GroupLabel {
        position: absolute !important;
        left: 0;
        top: 0;
        @include font-body('title-xxsmall-lower');
        width: 500px;
        padding-left: 5px;
        padding-top: 2px;
        color: color.$text-neutral;
        pointer-events: none;
        user-select: none;
        text-transform: uppercase;
        &--selected {
            color: color.$border-active;
        }
    }
}
&__Block {
    &-label {
        position: absolute !important;
        left: 0;
        top: 0;

        width: 300px;
        padding-left: 5px;
        padding-top: 2px;

        color: color.$text;

        pointer-events: none;
        user-select: none;
        @include font-body('title-xxsmall-lower');
        
        &--selected {
            color: color.$border-active;
        }
    }
}