@use '~@strategies/tokens/color';
@use '~@strategies/tokens/space';
@use '~@strategies/tokens/elevation';

@import '~@strategies/tokens/mixins';
&__Block {
    position: absolute !important;
    display: flex;
    overflow: hidden;
    cursor: grab;
    // opacity: .75;
    pointer-events: all;
    transition: border-color .15s, opacity .15s;
    border-color: color.$border-bold;
    border-radius: space.$s100;
    border-width: 1px;
    border-style: solid;

    &:hover {
        opacity: 1;
        transition: border-color .15s, opacity .15s;
        box-shadow: elevation.$shadow;
        border-radius: space.$s100;
        border-color: color.$border-active;
    }

    &--selected {
        box-shadow: elevation.$shadow;
        transition: border-color .15s, opacity .15s;
        border-width: space.$s050;
        border-radius: space.$s100;
        border-color: color.$border-active;
    }

    &-content {
        flex: 1 1 auto;
        
        height: 100%;
    }

    

    &-handle {
        height: 100%;
        z-index: 2;
        cursor: col-resize;
        border-radius: space.$s100;
    }
}
&__Block {
    &-label {
        position: absolute !important;
        left: 0;
        top: 0;

        width: 300px;
        padding-left: 5px;
        padding-top: 2px;

        color: color.$text;

        pointer-events: none;
        user-select: none;
        @include font-body('title-xxsmall-lower');
        
        &--selected {
            color: color.$border-active;
        }
    }

}