.react-timeline__block {
    position: absolute;
    display: flex;

    height: 20px;

    opacity: .75;
    cursor: grab;
    transition: opacity .15s;

    &:hover {
        opacity: 1;
        transition: opacity .15s;
    }

    &-content {
        flex: 1 0 calc(100% - 10px);

        height: 100%;
    }

    &-handle {
        flex: 1 0 5px;

        width: 5px;
        height: 100%;

        cursor: col-resize;
    }
}
