@import '../../theme';
.react-timeline__block {
  position: absolute;
  display: flex;

  //border: 2px solid rgba($color_highlight, 0);
  cursor: grab;
  opacity: .75;
  pointer-events: all;
  transition: border-color .15s, opacity .15s;

  &:hover {
    opacity: 1;
    transition: border-color .15s, opacity .15s;
  }

  &--selected {
    border-color: rgba($color_highlight, 1);
    box-shadow: 0 0 3px 5px rgba($color_bg-inverse, .3);
    transition: border-color .15s, opacity .15s;
  }

  &-content {
    flex: 1 1;

    height: 100%;
  }

  &-label {
      position: absolute;
      width: 300px;
      left: 0;
      top: 0;
      color: $color_font;
      padding-left: 5px;
      padding-top: 4px;
      pointer-events: none;
      user-select: none;
  }

  &-handle {
    height: 100%;

    cursor: col-resize;
  }
}
