@import '../../theme';

.react-timeline__scrubber {
    position: absolute;
    top: 0;

    width: $width_scrubber;
    height: 100%;

    text-align: center;
    background: $color_scrubber_bg;

    &-buffer {
        position: absolute;
        top: 0;
        left: -5px;

        width: 10px;
        height: 100%;
        margin: 0 auto;

        &:hover {
            cursor: col-resize;
        }
    }
}
