.react-timeline__scrubber {
    flex: 1 0 12.5%;

    &-viewport {
        position: absolute;
        z-index: 1;

        border: 1px solid $color_bg-light;
    }

    &-visualizer {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;

        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
}
