.react-timeline__visualizer {
    $root: &;

    &--block {
        #{$root}-block {
            position: absolute;

            height: 10px;
            width: 20px;
            background: $color_bg-light;
        }
    }
}
