.react-timeline__calendar {
    flex: 1 0 5%;
    min-height: 0;

    overflow: hidden;

    canvas {
        opacity: .4;
    }

    &-date {
        position: absolute;
        bottom: 5px;

        margin-left: 4px;

        font-size: 11px;
    }
}
