/**
* Styles Entrypoint
*/

/**
 * Variables
 */

$color_bg-dark: #111111;
$color_bg-light: #DDDDDD;

$color_font-light: #DDDDDD;

$color_highlight: #3EC1C1;



/**
 * Globals
 */

.react-timeline {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    color: $color_font-light;

    background: $color_bg-dark;

    & * {
        position: relative;
        box-sizing: border-box;
    }

    &--dragging * {
        cursor: grabbing !important;
    }

    &--resizing * {
        cursor: col-resize !important;
    }

    &--selecting * {
        cursor: nwse-resize !important;
    }

/**
 * Imports
 */

    @import 'components/Block/block';
    @import 'components/Calendars/calendars';
    @import 'components/Editors/editors';
    @import 'components/Navigator/navigator';
    @import 'components/Navigator/visualizer';
}
