@import 'components/Calendars/calendars';
@import 'components/Editors/editors';
@import 'components/Scrubber/scrubber';

$color_bg-dark: #111111;

$color_font-light: #DDDDDD;


.react-timeline {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    color: $color_font-light;

    background: $color_bg-dark;
}
