$color_bg-dark: #111111;
$color_bg-light: #f2f2f2;

$color_font-light: #DDDDDD;
$color_font-dark: #333333;

$color_highlight: #3EC1C1;

$color_scrubber_bg: #333333;
$color_bg: $color_bg-light;
$color_bg-inverse: $color_bg-dark;
$color_font: $color_font-dark;

$width_scrubber: 2px;
